.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/maps-satellite-images/satellite-image-of-globe.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://www.textures.com/static/testimonials/gallery3.jpg);
}
